<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shenkar.nik.pelotarebota">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pelota2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pelota2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".PelotaRebota"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity
            android:name=".MainActivity_Menu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FinalLevel1"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.level1"></activity>
        <activity android:name=".GameOver"
            android:screenOrientation="landscape">
            ></activity>
    </application>

</manifest>